<div class="navbar">
  <mat-toolbar color="primary">
      <span>QuizArt</span>
      <button class="link" mat-button>Home</button>
      <button class="link" mat-button>Topics</button> 
      <form class="text">
          <input type="search" id="mySearch" name="localhost:3000"
          placeholder="Search Topics...">
          <button>Search</button>
      </form>
      <button class="link" mat-button>Messages</button>
      <button class="link" mat-button>Notification</button>
  </mat-toolbar>
 </div>