<div class="Info">
  <div class="UserInfo">
    <mat-card class="User">
      <img mat-card-image class="ProfilePic" src="../../../img/male-icon-4.jpg" ref="Add image">
      <mat-card-content>
        <mat-card-title>Name</mat-card-title>
        <mat-card-subtitle>Country</mat-card-subtitle>
        <mat-card-subtitle>View Profile</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="Leaderboard">
    <h2>Leaderboard</h2>
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <span>40%</span>
  </div>
</div>

<div class="PopularTopics">
  <h2>Popular Topics</h2>
  <div class="Topics">
    <mat-card class="Topic">
      <img mat-card-image src="../../../img/male-icon-4.jpg">
      <mat-card-title>Football</mat-card-title>
    </mat-card>
    <mat-card class="Topic">
      <img mat-card-image src="../../../img/male-icon-4.jpg">
      <mat-card-title>Cricket</mat-card-title>
    </mat-card>
  </div>
</div>

<div class="FavouriteTopics">
  <h2>Favourite Topics</h2>
  <div class="Topics">
    <mat-card class="Topic">
      <img mat-card-image src="../../../img/male-icon-4.jpg">
      <mat-card-title>Football</mat-card-title>
    </mat-card>
    <mat-card class="Topic">
      <img mat-card-image src="../../../img/male-icon-4.jpg">
      <mat-card-title>Cricket</mat-card-title>
    </mat-card>
  </div>
</div>