.Info{
    display: inline-flex;
}

.UserInfo{
    display: inline-flex;
}

img{
    width: 10rem;
}

h2{
    justify-content: center;
}

.Topics{
    display: inline-flex;
}

.Leaderboard{
    margin: 2rem;
}