.Info{
    display: inline-flex;
}

.UserInfo{
    display: inline-flex;
}

img{
    width: 10rem;
}

h2{
    justify-content: center;
}

.Topics{
    display: inline-flex;
    flex-flow: row wrap;
}

.Leaderboard{
    margin: 2rem;
    width: 70rem;
}

mat-card{
    margin: 1rem;
}

@media(max-width: 425px) {
    .Info{
        display: inline-flex;
        flex-flow: column wrap;
    }

    .Leaderboard{
        margin: 2rem;
    }

    .Topics{
        display: inline-flex;
        flex-flow: column wrap;
    }

}