<div class="Category">
  <h2>Category1</h2>
  <div class="Topics">
    <mat-card class="Topic">
      <img mat-card-image src="../../../img/male-icon-4.jpg"/>
      <mat-card-title>Football</mat-card-title>
    </mat-card>
    <mat-card class="Topic">
      <img mat-card-image src="../../../img/male-icon-4.jpg"/>
      <mat-card-title>Cricket</mat-card-title>
    </mat-card>
  </div>
</div>
<div class="Category">
    <h2>Category2</h2>
    <div class="Topics">
      <mat-card class="Topic">
        <img mat-card-image src="../../../img/male-icon-4.jpg"/>
        <mat-card-title>Football</mat-card-title>
      </mat-card>
      <mat-card class="Topic">
        <img mat-card-image src="../../../img/male-icon-4.jpg"/>
        <mat-card-title>Cricket</mat-card-title>
      </mat-card>
    </div>
  </div>